extends layout 
 
block content 
  h1= title 
 
  form(id='SeasonForm', action="/resource/Season", method="POST") 
    div.form-group 
        label.SeasonAttr(for='Season_type') Season type 
        input#Season_type(type='text', name='Season_type') 
    div.form-group 
        label.SeasonAttr(for='temperature') Season temperature 
        input#temperature(type='number', name='temperature') 
    div.form-group 
        label.SeasonAttr(for='Season_month') Season month 
        input#Season_month(type='text', name='Season_month') 
    input(type="submit") 
 
  script. 
    document.forms['SeasonForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 